In [6]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_excel('routine.xlsx', sheet_name=2 ,skiprows=4)
data.columns = data.columns.str.replace('\n', '_')
data.columns = data.columns.str.replace(':', '')
data.columns = data.columns.str.replace(' ', '_')
data.columns = data.columns.str.replace(r'\.\d+', '', regex=True)
df = data.fillna('-') 
df.columns = df.columns.str.upper()

In [8]:
data_cleaning = df.drop(["CLASS_SIZE", "ASSIGNED_HALL", "HALL_CAPACITY_MATCH", "UNNAMED_57"], axis='columns')
# len(data.columns)
indexList = list(range(61))
for i in range(2, 61, 5):
    indexList.remove(i)
clean_data = data_cleaning.iloc[:, indexList]

In [9]:
def fill_days(column):
    current_day = None
    new_column = column.copy()  # Create a copy to avoid warnings
    for i, value in enumerate(new_column):
        if pd.notna(value) and value != '-':
            current_day = value
        elif value == '-' and current_day is not None:
            new_column.iloc[i] = current_day
    return new_column

# Make sure clean_data is a copy, not a view
clean_data = clean_data.copy()

# Apply the function to the 'DAY' column
clean_data.loc[:, 'DAY'] = fill_days(clean_data['DAY'])

In [12]:
monday_data = clean_data.loc[clean_data['DAY'] == 'WEDNESDAY', ]
monday_data.to_csv('data.csv', index=False)
monday_data.head()

,DAY,COURSE__NAME,COURSE_CODE_SECTION_&_SHIFT,FACULTY_INITIALS,HALL,COURSE_NAME,COURSE_CODE_SECTION_&_SHIFT,FACULTY_INITIALS,HALL,COURSE__NAME,...,FACULTY_INITIALS,HALL,COURSE_NAME,COURSE_CODE_SECTION_&_SHIFT,FACULTY_INITIALS,HALL,COURSE_NAME,COURSE_CODE_SECTION_&_SHIFT,FACULTY_INITIALS,HALL
50,WEDNESDAY,MAJOR THEORY,COMMA(M),MM,57,MINOR THEORY,-,-,-,MULTI-DISCIPLINARY COURSE,...,-,9,ABILITY ENHANCEMENT COURSE,AEC-120-A(D),-,9,MAJOR THEORY,COMMA(A),AS,54
51,WEDNESDAY,-,ECOMA(M),GM,58,-,ECOMI(M),GM,58,-,...,-,33,-,AEC-120-B(D),-,7,-,-,-,-
52,WEDNESDAY,-,EDUMA(M),DN,66,-,EDUMI(M),DN,66,-,...,-,-,-,AEC-120-C(D),-,35,-,-,-,-
53,WEDNESDAY,-,ENGMA(M),-,38,-,ENGMI(M),-,38,-,...,-,-,-,-,-,-,-,-,-,-
54,WEDNESDAY,-,HISMA(M),SCL,36,-,HISMI(M),HAH,36,-,...,-,-,-,AEC-123-A(D),JS,21,-,-,-,-